@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans');
/* entrance page */

.container {
  max-width: 950px;
}

.entrance {
  background: url("../img/entrance.jpg") no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}
/* about page - main photos */

.carousel-item {
  height: 600px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.carousel-inner img {
  margin: auto;
}

.navbar-brand {
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 800;
}

.nav-item {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
}

.navbar {
  padding-bottom: 30px;
  padding-top
}

.navbar-dark .navbar-nav .nav-item .nav-link{
  color: rgba(255, 255, 255, 0.9);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.bg-dark {
  background-color: #212529 !important
}

.page-footer {
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 15px;
}

/* about page - contents */

.col-md-flex {
  margin-top: 150px;
}

.icons {
  margin-top: 5px;
}

.icons img {
  margin-right: 3px;
  border-radius: 5px;
}

.row-about {
  padding-top: 40px;
}

.about-title {
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: -10px;
  letter-spacing: 0.5px;
}

.about-description {
  margin-top: 25px;
}

.lang-eng {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.lang-eng .description {
  font-size: 16px;
  margin-top: 10px;
}


.row-head {
  padding-top: 100px;
}

.row-sub-top {
  margin-top: 20px;
}

.row-sub {
  margin-top: 40px;
}

.row-list-top {
  margin-top: 20px;
}

.lang-eng .bold-title {
  font-weight: 700;
  font-size: 18px;
}

.lang-eng .sub-title {
  font-size: 16px;
  font-weight: 700;
  color: gray;
}

.lang-eng .list-name {
  font-weight: 700;
  font-size: 17px;
}

.lang-eng .list-name-sub {
  font-size: 14px;
  font-weight: bold;
  color: gray;
  display: block;
}

.contents-date, .contents-date-kor {
  font-family: 'Noto Sans', sans-serif;
  line-height: 25px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: -5px;
  letter-spacing: -0.5px;
}

.contents-date {
  font-size: 17px;
}

.contents-date-row-change {
  display: inline;
}

.font-disapper, .font-disapper-kor {
  font-size: 0px;
  margin-bottom: -15px;
}

.about-title .row-change-2 {
  display: inline-block;
}

@media (min-width: 1200px) {
  .contents-date, .contents-date-kor {
    text-align: right;
    margin-bottom: 0px;
    margin-top: -3px;
  }
  .lang-eng .list-name-sub {
    display: inline;
    margin-left: -7px;
  }
  .font-disapper {
    font-size: 15px;
  }
  .contents-date-row-change {
    display: block;
  }
}

@media (min-width: 768px) {
  .about-title {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 35px;
  }
  .about-description {
    margin-top: 3px;
  }
  .about-title .row-change-2 {
    display: inline-block;
  }
  .row-sub-top {
    margin-top: 1.5px;
  }
  .row-list-top {
    margin-top: 3px;
  }
  .col-md-flex {
    margin-top: 0px;
  }
}

/* works page thumbnail box */

.work-bold-title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0px;
}

.work-description {
  margin-top: 5px;
  font-size: 14px;
  color: gray;
}

.work-contents-date {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 15px;
}

.work-row-top {
  margin-top: 40px;
}

.work-row-sub {
  margin-top: 100px;
}

.modal-title {
  font-weight: bold;
  letter-spacing: -0.5;
}

.video-container {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-fluid {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-3parts {
  max-width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 960px) {
  .img-3parts {
    max-width: 32.9%;
  }
}
